* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.container-fluid {
  height: 100%;
}

.row {
  height: 90%;
}

.col {
  height: 100%;
}

.container {
  height: 100%;
}

form {
  height: 100%;
  margin: 0 20px;
}

#editor {
  resize: none;
  height: 90%;
  max-height: 90%;
}

#preview {
  margin: 0 20px;
}